.sidebar {
    height: 94.5vh;
    background-color: #1F2937;
    border-right: 1px solid #252525;

    text-decoration: none;

    &:hover {
        // background-color: #252525;
        text-decoration: none;  
    }

}

.side

.sidebar-content {
    height: 100%;
}

.sidebar-content-inner {
    height: 100%;
}

